{% extends 'layout.html' %}

{% block body %}
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Property Name</th>
            <th>Property Name [1]</th>
            <th>Property Name [2]</th>
            <th>Property Name [3]</th>
            <th>Property Name [4]</th>
            <th>Unit Name</th>
            <th>Tenant Name</th>
            <th>Lease Start Date</th>
            <th>Lease End Date</th>
            <th>Lease Years</th>
            <th>Lease Current Rent
                <!--Clean this up!-->
                    <form action="/toggle/" method="post">
                        <button type="submit">Desc</button>
                    </form>
                    <form action="/">
                        <button type="submit">Asc</button>
                    </form>
            </th>
        </tr>
    </thead>
    {% for obj in object_list %}
    <tbody>
    <tr>
        <td>{{ obj.Property_Name }}</td>
        <td>{{ obj.Property_Address_1 }}</td>
        <td>{{ obj.Property_Address_2 }}</td>
        <td>{{ obj.Property_Address_3 }}</td>
        <td>{{ obj.Property_Address_4 }}</td>
        <td>{{ obj.Unit_Name }}</td>
        <td>{{ obj.Tenant_Name }}</td>
        <td>{{ obj.Lease_Start_Date }}</td>
        <td>{{ obj.Lease_End_Date }}</td>
        <td>{{ obj.Lease_Years }}</td>
        <td>{{ obj.Current_Rent }}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
<strong>Total Lease Current Rent:</strong> {{ col_sum }}
{% endblock %}